.generic-content-container {

    p {
        margin: 1.8rem 0;
        line-height: 1.65;

        @mixin atSmall {
            font-size: 1.125rem;
        }
    }

    p a {
        font-weight: 700;
    }

}